@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=IBM+Plex+Sans:wght@100&family=Lato:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@1,300&display=swap');

body{
    background: linear-gradient(to right, #3498db, #8e44ad);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
}

.table-container {
    position: relative;
    height: 400px;
    padding: 20px;
}

.table {
    white-space: nowrap;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
.form-container {
    margin-top: 100px;
    width: 500px;
    padding: 20px;
    border-radius: 10px; 
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
thead tr:nth-child(1) th,
thead tr:nth-child(2) th {
  position: sticky;
  top: 0;
  background-color: #077edf;
  z-index: 10;
}

thead tr:nth-child(2) th {
  top: 40px; 
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  }


.tituloSimulacion{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 1.6rem;
}

.boton{
    display: flex;
    justify-items: center !important;
}
  

.col {
    padding-top: 10px;

}

.last-row {
    background-color: red !important
}